{{>menu}}

<h2>Cargar productos:</h1>
    <hr>

    <form action="/api/productos" class="form-login" method="post">

        {{#if error}}
        <div style="color: red">{{error}} </div>
        {{/if}}
        <input type="text" name="nombre" class="input-login" placeholder="Nombre">
        <input type="text" name="stock" class="input-login" placeholder="stock">
        <input type="text" name="precio" class="input-login" placeholder="Precio">
        <input type="text" name="descripcion" class="input-login" placeholder="Descripcion">
        <br>
        <input type="submit" class="boton" value="Cargar Producto">
    </form>


    <div>
        {{#if mensaje}}
        <div style="color: rgb(185, 98, 21)">{{mensaje}} </div>
        {{/if}}
    </div>