
{{>menu}}
<hr>
<h2>Login de usuarios:</h2>


<br>
<form action="/api/session/login" class="form-login" method="post">
{{#if error}}
    <div style="color: red">{{error}} </div>
{{/if}}
{{#if mensaje}}
    <div style="color: rgb(21, 155, 185)">{{mensaje}} </div>
{{/if}}
<input type="email" class="input-login" name="email" placeholder="Email">
<input type="password" class="input-login" name="password" placeholder="Contraseña">
<br>
<input type="submit" class="boton" value="Ingresar">
</form>
<br>
<a href="/api/session/github">Acceso con Github</a>