{{>menu}}

<h2>Registro de usuarios:</h1>
<hr>

<form action="/api/session/registro" class="form-login" method="post">

{{#if error}}
    <div style="color: red">{{error}} </div>
{{/if}}
<input type="text" name="nombre" class="input-login" placeholder="Nombre">
<input type="email" name="email" class="input-login" placeholder="Email">
<input type="password" name="password" class="input-login" placeholder="Contraseña">
<br>
<input type="submit" class="boton" value="Registrarme">
</form>