<header>
    <nav>
        <h1>NODE</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mail.html">Mail</a></li>
            {{#if login}}
            <li><a href="/perfil">Perfil</a></li>
            
            {{#if isAdmin}}
            <li><a href="/cargar-productos">Cargar Productos</a></li>
            <li><a href="/registroAdmin">Registro Administrador</a></li>
            {{/if}}

            <li><a href="/api/session/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            {{/if}}


        </ul>
    </nav>
</header>